@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "~/Views/Shared/Layout_without_Footer.cshtml";
}

@model AdsDetailDTO



<section>



      <div class="bg-cover bg-center px-2">
        <img class='object-fit h-52 w-full rounded-lg ' src="~/Images/Laptop.jpg" alt="laptop_img" />
      </div>


      <div class='py-2 px-2'>
        <div class="bg-white dark:bg-slate-900 rounded-lg px-6 py-5 ring-1 ring-slate-900/5 shadow-sm">
          <h3 class="text-slate-900 dark:text-white mt-2 text-xl font-medium  tracking-tight font-Inter">@Html.DisplayFor(model=>Model.AdTitle)</h3>
          <table class="table-auto text-slate-500 dark:text-slate-400 mt-2 text-sm font-Inter">
                @* {/* <thead>
              <tr>
                <th>Title</th>
                <th>Feature</th>
              </tr>
            </thead> */}*@
            <tbody>
              <tr>
                <td></td>
                <td> @Html.DisplayFor(modelItem=>Model.AdDescription)      </td>
              </tr>
                    @* <tr>
                <td>Graphics:</td>
                <td>Intel® Iris® Xe Graphics</td>
              </tr>
              <tr>
                <td>Memory:</td>
                <td>8 GB LPDDR5</td>
              </tr>
              <tr>
                <td>Storage:</td>
                <td>512 GB SSD</td>
              </tr>
              <tr>
                <td>Display:</td>
                <td>14.0-in. touch display Full HD+ (1920X1200)</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>45000</td>
              </tr>
              <tr>
                <td>Status:</td>
                <td>Not Sold</td>
              </tr>*@
            </tbody>
          </table>
        </div>
      </div>

      <div class='py-2 px-2 sellerdetails'>
        <div class="bg-white dark:bg-slate-900 rounded-lg px-6 py-5 ring-1 ring-slate-900/5 shadow-sm">
          <h3 class="text-slate-900 dark:text-white mt-2 text-xl font-medium  tracking-tight font-Inter">Seller's Details</h3>
          <table class="table-auto text-slate-500 dark:text-slate-400 mt-2 text-sm font-Inter">
            <tbody>
              <tr>
                <td>Name:</td>

                <td> @Html.DisplayFor(modelItem => Model.AdByUser)</td>
              </tr>
              <tr>
                <td>Location:</td>
                <td>@Html.DisplayFor(modelItem => Model.AdsAddress)</td>
              </tr>
              <tr>
                <td>Contact</td>
                <td> @Html.DisplayFor(modelItem => Model.PhoneNumberOfSeller)</td>
              </tr>
              <tr>
                <td>Delivery:</td>
                <td>Not available</td>
              </tr>
              <tr>
                <td>Ad posted:</td>
                <td> @Html.DisplayFor(modelItem => Model.CreatedDate)</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class='px-3 '>
      <p class="mt-1  text-slate-600 text-sm">
        Note: We recommend you to physically inspect the product before making any changes.
      </p>
      </div>

       <div class='flex justify-center py-4'>
                <a href="@Url.Action("EditThisAd", "AdsSelect", new { id = Model.Id })" class="bg-sky-500 hover:bg-sky-700 w-40 h-10    font-Inter text-white border-sky-500">
                  Edit Ad
                </a>
                </div>

       <div class='flex justify-center py-4'>
                <a href="@Url.Action("DeleteThisAds", "AdsSelect", new { id = Model.Id })" class="bg-sky-500 hover:bg-sky-700 w-40 h-10    font-Inter text-white border-sky-500">
                    Delete Ad
                </a>
                </div>






    </section>